<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
	
	    .frow {
		height: 53px;
		background-color: #4867aa;
	}
	header{
		background-color: 4867aa;
		height: 16%;
	}
	.s {
		background-color: #EBEDEF;
		
	}

	
	    #Text1 {
            width: 440px;
            height: 23px;
            margin-top: 9px;
        }

	
	</style>
	<script type="text/javascript">
	</script>
</head>
<body>
    <header>
        
    <form id="form1" runat="server">
	<div class="container-fluid frow">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
        <input id="Text1" type="text" placeholder="Search Facebook" />
               
                    <span class="input-grop-addon" style="background-color:#EBEDEF;margin-left:-5px;padding-bottom:3px;padding-top:3px;padding-right:15px;" >
                        <i class="glyphicon glyphicon-search" style="font-size:14px;margin-right:5px;" align="center" value="1" tabindex="-1"></i>
                    </span>
              
               
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <img src="" style="margin-left:15px;width:36px;"/>
                  <label>Haris Np</label> 
                
            </div>
        </div>
    </div>
    <div class="container-fluid s">
        <div class="row">
            <div class="col-md-2">
                <br />
               <img src="" style="margin-left:15px;width:36px;"/>
                <label>Haris Np</label><br /><br />
                <div class="glyphicon glyphicon-pencil"></div>
                &nbsp;<label>Edit Profile</label></div>
            <div class="col-md-6" style="margin-top:10px;background-color:white;padding-bottom:50px;" >
                <div class="glyphicon glyphicon-pencil"></div>
                <label>Update Status</label>&nbsp
                <div class="glyphicon glyphicon-picture"></div>
                <label>Add Photos/Video</label>?&nbsp
                <div class="glyphicon glyphicon-align-justify"></div>
                <label>Write Note</label>
                 <label>
                <hr />
                </label>
                    <p>
                        &nbsp;</p>
                <font>
                <hr />
                </font>

                    <p>
        <img alt="" src="" />
                </p>
                
                <textarea id="TextArea1" cols="80" name="S1" rows="2" placeholder="Whats on your mind?" style="border:none;"></textarea>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3" style="margin-top:10px;background-color:white;margin-left:20px;padding-bottom:90%;">

               <font>YOUR ADS</font>

               
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-6" style="margin-top:-1000px;background-color:white;padding-bottom:500px;">
                <font></font>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    </form>
    </header>
    <p>
        <img alt="" src="" /></p>
    </body>
</html>
