<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../../Styles/js/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../../Styles/js/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="../../Styles/js/JavaScript1.js"></script>
  
	<style type="text/css">
	
	.frow {
		height: 15%;
		background-color: #4867aa;
	}
	header{
		background-color: 4867aa;
		height: 16%;
	}
		.s {
		background-color: #EBEDEF;
        padding-bottom:100px;
		
	}

	
	
	</style>
	

<body bgcolor="f3f4f9">
	
 
    <header>
	<div class="container-fluid frow">
		<div class="row">
			<div class="col-md-6 col-md-offset-0">
                <img src="../../Images/facebook.jpg" width="35%" height="95%" style="margin-top:%;margin-left:20%;" align="center" />
                
                 
			      <input type="button" style="background-color:#42b72a;color:white;border-radius:2px;border:1px solid;border-color:#42b72a;" submit value="Sign Up" id="bt-signup">
				
			</div>
		</div>
	</div>
	
	</header>
    <div class="container-fluid s">
        
		<div class="row">
			
			<div class="col-md-3">
				
			</div>
            <div class="col-md-6" style="margin-top:40px;background-color:white;">
               <h4><b>Facebook Log In</b></h4>
                <hr />
                 <div class="col-md-2"></div>
                 <div class="col-md-10" align="left">
                    

                    <font>Username :</font>
                       <input type="text" id="username" />
                    <br /><br />
                    <font>Password   :</font>
                       <input type="text" id="password" />
					
                    <br />
                    <div class="col-md-1"></div>
                    <div class="col-md-7" style="margin-left:10px;margin-top:5px;">
                        <input type="checkbox" /><font>Keep me Logged In</font>
                        <br /><br />
                        <p>
<input type="button" id="Button1" value="Log in" style="background-color:#1F618D;color:white;border-radius:2px;border:1px solid;border-color:darkblue"/>
                       
                         
                        <label>or</label><a href="http://localhost:50792/ajax_facebook_homepage.aspx"><font style="color:#3b5489;font-size:15px;"><b>Sign Up</b></font></a></p>
                        <a href="https://www.google.co.in/?gfe_rd=cr&ei=VcMiWNeVBaz98wfa4KaIDQ&gws_rd=ssl"><p><font style="color:#3b5489;font-size:12px;">Forgotten account?</font></a>
                    </div>
                 </div>
			     
		    </div>
            <div class="col-md-3">

            </div>
        </div>
	</div>

      
</body>
</html>
